// https://github.com/ryanhaus/wordle 
html 
    head 
        title= `Wordle Hell - ${mode}`
        link(rel="stylesheet", href="/static/styles.css")
        script!= `const mode="${mode.toLowerCase()}";const words_json=${words_json};`
        script(src="/static/wordle.js")
    body 
        h1.text= `${mode} Wordle Hell`
        h3.text=`using ${config.boardCount} boards sized 5x${config.rowCount}`
        p.text(align="center")
            | You can change the keyboard color by using the dropdown menu or clicking on a board
            br
            a.text(align="center" href=`/play/${mode == "Unlimited" ? "daily" : "unlimited"}?boardCount=${config.boardCount}&rowCount=${config.rowCount}`)= `Play ${mode == "Unlimited" ? "daily" : "unlimited"}`

        form.text.boardInput(action=`/play/${mode.toLowerCase()}` align="center" onsubmit="return verifyForm();")
            | Change to 
            input.text.boardInput#boardNumber(type="number" min="1" max="32" name="boardCount" value=`${config.boardCount}`)
            |  boards sized 5x
            input.text.boardInput(type="number" min="6" max="64" name="rowCount" value=`${config.rowCount}`)
            br
            input.text.boardInput(style="cursor: pointer;" type="submit" value="Change")

        //- list of words to be used
        wordslist#wordslist 
            each word in words
                word= `${word}`

        //- generate blank boards depending on config values
        div#boards
            - var board = 0;
            while board < config.boardCount
                div.board(id=`game-board-${board}` onclick=`update_keyboard_colors(${board});`)
                    - board++;
                    - var row = 0;
                    while row < config.rowCount
                        div(id=`row-${row++}`)
                            - var column = 0;
                            while column < 5
                                span.square(id=`column-${column++}`)
        //- generate the keyboard with pretty colors
        div.keyboard.keys(align="center")
            //- keyboard changing stuff
            select#focused_board_select(name="focused_board", onchange="update_keyboard_colors(this.value);")
                - var boardID = 0;
                while boardID < config.boardCount 
                    option(value=`${boardID}`)= `Key colors for board #${boardID + 1}`
                    - boardID++;

            //- keyboard template
            mixin key(letter)
                span.square.key(id=`key-${letter}`, block-color="gray", onclick!=`handleKeypress('${letter}');`)=`${letter}`

            - var keyboard_content = [ ["Q","W","E","R","T","Y","U","I","O","P"], ["A","S","D","F","G","H","J","K","L"], ["GO","Z","X","C","V","B","N","M","<"] ];
            each row in keyboard_content 
                div.keyboard
                    each letter in row
                        +key(letter)(id=`key-${letter}`)
        div.bottomSpace
